:root {
  --color-primary: #ee0007;
  --color-secondary: #dddddd;
  --color-white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 50px auto 0;
}

td, th {
  border: 1px solid var(--color-secondary);
  text-align: left;
  padding: 8px;
}

td p {
  padding: 0;
  margin: 0;
}

tr:nth-child(even) {
  background-color: var(--color-secondary);
}

button {
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}