:root {
  --color-gray: #dddddd;
}

.App { 
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 50px auto 0;
}

td, th {
  border: 1px solid var(--color-gray);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--color-gray);
}

button {
  text-transform: uppercase;
  background-color: #ee0007;
  border: none;
  color: #fff;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}